html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

​@font-face {
    font-family: 'PT Serif';
    src: url('/fonts/pt_serif-web-bold-webfont.eot');
    src: url('/fonts/pt_serif-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt_serif-web-bold-webfont.woff2') format('woff2'),
         url('/fonts/pt_serif-web-bold-webfont.woff') format('woff'),
         url('/fonts/pt_serif-web-bold-webfont.ttf') format('truetype'),
         url('/fonts/pt_serif-web-bold-webfont.svg#pt_serifbold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'PT Serif';
    src: url('/fonts/pt_serif-web-italic-webfont.eot');
    src: url('/fonts/pt_serif-web-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt_serif-web-italic-webfont.woff2') format('woff2'),
         url('/fonts/pt_serif-web-italic-webfont.woff') format('woff'),
         url('/fonts/pt_serif-web-italic-webfont.ttf') format('truetype'),
         url('/fonts/pt_serif-web-italic-webfont.svg#pt_serifitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Serif';
    src: url('/fonts/pt_serif-web-regular-webfont.eot');
    src: url('/fonts/pt_serif-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt_serif-web-regular-webfont.woff2') format('woff2'),
         url('/fonts/pt_serif-web-regular-webfont.woff') format('woff'),
         url('/fonts/pt_serif-web-regular-webfont.ttf') format('truetype'),
         url('/fonts/pt_serif-web-regular-webfont.svg#pt_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/worksans-black-webfont.eot');
    src: url('/fonts/worksans-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/worksans-black-webfont.woff2') format('woff2'),
         url('/fonts/worksans-black-webfont.woff') format('woff'),
         url('/fonts/worksans-black-webfont.ttf') format('truetype'),
         url('/fonts/worksans-black-webfont.svg#work_sansblack') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/worksans-bold-webfont.eot');
    src: url('/fonts/worksans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/worksans-bold-webfont.woff2') format('woff2'),
         url('/fonts/worksans-bold-webfont.woff') format('woff'),
         url('/fonts/worksans-bold-webfont.ttf') format('truetype'),
         url('/fonts/worksans-bold-webfont.svg#work_sansbold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/worksans-extrabold-webfont.eot');
    src: url('/fonts/worksans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/worksans-extrabold-webfont.woff2') format('woff2'),
         url('/fonts/worksans-extrabold-webfont.woff') format('woff'),
         url('/fonts/worksans-extrabold-webfont.ttf') format('truetype'),
         url('/fonts/worksans-extrabold-webfont.svg#work_sansextrabold') format('svg');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/worksans-semibold-webfont.eot');
    src: url('/fonts/worksans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/worksans-semibold-webfont.woff2') format('woff2'),
         url('/fonts/worksans-semibold-webfont.woff') format('woff'),
         url('/fonts/worksans-semibold-webfont.ttf') format('truetype'),
         url('/fonts/worksans-semibold-webfont.svg#work_sanssemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-size: 125%;
  font-weight: 400;
  font-style: normal;
  font-family: 'PT Serif', Georgia, Times New Roman, serif;
  color: rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 630px) {
  body {
    font-size: 100%;
  }
}

a {
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent 90%, #61cbc2 90%);
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

a:hover, a:focus, a:active {
  background-image: linear-gradient(to bottom, transparent 90%, #31958c 90%);
  color: black;
}

p {
  line-height: 1.4;
  margin-bottom: 1em;
  font-weight: 400;
  font-style: normal;
  font-size: 1.15em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', Helvetica Neue, Helvetica, Segoe UI, Arial, sans-serif;
  font-weight: 500;
}

h3, h4, h5, ul {
  margin-bottom: 1em;
}

ul {
  list-style-position: inside;
}

.half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.half:last-child {
  margin-right: 0;
}
.half:nth-child(4n) {
  margin-right: 0;
}
.half:nth-child(4n+1) {
  clear: left;
}
@media screen and (max-width: 760px) {
  .half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
  }
  .half:last-child {
    margin-right: 0;
  }
}

.leaflet-container a {
  color: #61cbc2;
  border-bottom: none;
}
.leaflet-container a:hover {
  text-decoration: none;
}

.leaflet-tile-container {
  opacity: 0.7;
}

.container, .container--bg {
  max-width: 46.875em;
  margin-left: auto;
  margin-right: auto;
  margin: 1em auto;
}
.container::after, .container--bg::after {
  clear: both;
  content: "";
  display: table;
}

.wrapper--bg {
  background-image: url("/images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container--bg {
  margin: 0 auto;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.container--bg h3{
  color: white;
}

.container--bg p {
  text-align: center;
  margin: 2em 0;
}

.inner{
  padding: 2em 4em;
}
.inner--bg {
  padding: 2em 4em;
}
@media screen and (max-width: 630px) {
  .inner, .inner--bg {
    padding: 1em 2em;
  }
}

.title {
  margin-top: 1.2em;
  font-size: 3.5em;
  text-align: center;
  line-height: 1;
}
@media screen and (max-width: 630px) {
  .title {
    font-size: 2.5em;
  }
}

.subtitle {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  text-align: center;
  line-height: 1;
}
@media screen and (max-width: 630px) {
  .subtitle {
    font-size: 1.75em;
  }
}

.tagline {
  max-width: 70%;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
  line-height: 1;
}
@media screen and (max-width: 630px) {
  .tagline {
    font-size: 1.5em;
    max-width: 100%;
  }
}

.when {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
}
@media screen and (max-width: 630px) {
  .when {
    font-size: 1.5em;
    margin-bottom: 0.75em;
  }
}


.book {
  text-align: center;
  font-size: 1.25em;
}
.book .price {
  font-size: 1em;
}
.book li {
  list-style: none;
  color: rgba(44, 44, 100, 0.9);
}


h3 {
  font-size: 1.3em;
  margin-bottom: 0.75em;
  color: rgb(44, 44, 100);
}

.nat, .dan {
  position: relative;
  margin-left: 175px;
  min-height: 162px;
}
.nat:before, .dan:before {
  content: ' ';
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  width: 150px;
  height: 150px;
  left: -175px;
}
.nat:before {
  background-image: url("/images/nat.jpg");
}
.dan:before {
  background-image: url("/images/dan.jpg");
}
@media screen and (max-width: 450px) {
  .nat, .dan {
    margin-left: 110px;
  }

  .nat:before, .dan:before {
    width: 100px;
    height: 100px;
    left: -110px;
  }
}
@media screen and (max-width: 360px) {
  .nat, .dan {
    margin-left: 0;
    margin-top: 180px;
  }

  .nat:before, .dan:before {
    width: 150px;
    height: 150px; /* TODO: flexible width */
    right: 0;
    left: auto;
    top: -162px;
  }
}

.footer {
  text-align: center;
  font-size: 1.25em;
  margin: 2em auto 0 auto;
  padding-bottom: 2em;
  border-bottom: 1px solid #FF3377;
}
.footer .price {
  display: block;
}
@media screen and (max-width: 760px) {
  .footer {
    margin-top: 1em;
  }
}

#map {
  min-height: 350px;
}

.signup {
  width: auto;
  display: inline-block;
  padding: 1em 1.5em;
  -webkit-font-smoothing: antialiased;
  transition: all 0.2s;
  font-family: 'Work Sans', Helvetica Neue, Helvetica, Segoe UI, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.25em;
  border: 4px solid white;
  color: white;
  background-image: none;
  margin-bottom: 1em;
}

.signup:hover {
  border: 4px solid white;
  color: #61cbc2;
  background: white;
}

.next-workshop {
  background: #61cbc2;
}

.next-workshop h3 {
  margin: 0.75em 0;
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 1em 0;
}
