html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

​@font-face {
    font-family: 'PT Serif';
    src: url('/fonts/pt_serif-web-bold-webfont.eot');
    src: url('/fonts/pt_serif-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt_serif-web-bold-webfont.woff2') format('woff2'),
         url('/fonts/pt_serif-web-bold-webfont.woff') format('woff'),
         url('/fonts/pt_serif-web-bold-webfont.ttf') format('truetype'),
         url('/fonts/pt_serif-web-bold-webfont.svg#pt_serifbold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'PT Serif';
    src: url('/fonts/pt_serif-web-italic-webfont.eot');
    src: url('/fonts/pt_serif-web-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt_serif-web-italic-webfont.woff2') format('woff2'),
         url('/fonts/pt_serif-web-italic-webfont.woff') format('woff'),
         url('/fonts/pt_serif-web-italic-webfont.ttf') format('truetype'),
         url('/fonts/pt_serif-web-italic-webfont.svg#pt_serifitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Serif';
    src: url('/fonts/pt_serif-web-regular-webfont.eot');
    src: url('/fonts/pt_serif-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt_serif-web-regular-webfont.woff2') format('woff2'),
         url('/fonts/pt_serif-web-regular-webfont.woff') format('woff'),
         url('/fonts/pt_serif-web-regular-webfont.ttf') format('truetype'),
         url('/fonts/pt_serif-web-regular-webfont.svg#pt_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/worksans-black-webfont.eot');
    src: url('/fonts/worksans-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/worksans-black-webfont.woff2') format('woff2'),
         url('/fonts/worksans-black-webfont.woff') format('woff'),
         url('/fonts/worksans-black-webfont.ttf') format('truetype'),
         url('/fonts/worksans-black-webfont.svg#work_sansblack') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/worksans-bold-webfont.eot');
    src: url('/fonts/worksans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/worksans-bold-webfont.woff2') format('woff2'),
         url('/fonts/worksans-bold-webfont.woff') format('woff'),
         url('/fonts/worksans-bold-webfont.ttf') format('truetype'),
         url('/fonts/worksans-bold-webfont.svg#work_sansbold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/worksans-extrabold-webfont.eot');
    src: url('/fonts/worksans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/worksans-extrabold-webfont.woff2') format('woff2'),
         url('/fonts/worksans-extrabold-webfont.woff') format('woff'),
         url('/fonts/worksans-extrabold-webfont.ttf') format('truetype'),
         url('/fonts/worksans-extrabold-webfont.svg#work_sansextrabold') format('svg');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/worksans-semibold-webfont.eot');
    src: url('/fonts/worksans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/worksans-semibold-webfont.woff2') format('woff2'),
         url('/fonts/worksans-semibold-webfont.woff') format('woff'),
         url('/fonts/worksans-semibold-webfont.ttf') format('truetype'),
         url('/fonts/worksans-semibold-webfont.svg#work_sanssemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-size: 125%;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 630px) {
  body {
    font-size: 100%;
  }
}

a {
  color: #100934;
  text-decoration: none;
  border-bottom: 1px solid #100934;
}
a:hover {
  border-bottom: 1px solid #FF3377;
}

p {
  line-height: 1.4;
  margin-bottom: 1em;
  font-family: 'PT Serif', Georgia, Times New Roman, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.15em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', Helvetica Neue, Helvetica, Segoe UI, Arial, sans-serif;
  font-weight: 500;
}

h3, h4, h5, ul {
  margin-bottom: 1em;
}

ul {
  list-style-position: inside;
}

.half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.half:last-child {
  margin-right: 0;
}
.half:nth-child(4n) {
  margin-right: 0;
}
.half:nth-child(4n+1) {
  clear: left;
}
@media screen and (max-width: 760px) {
  .half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
  }
  .half:last-child {
    margin-right: 0;
  }
}

.leaflet-container a {
  color: #61cbc2;
  border-bottom: none;
}
.leaflet-container a:hover {
  text-decoration: none;
}

.leaflet-tile-container {
  opacity: 0.7;
}

.container, .container--bg {
  max-width: 46.875em;
  margin-left: auto;
  margin-right: auto;
  margin: 1em auto;
}
.container::after, .container--bg::after {
  clear: both;
  content: "";
  display: table;
}

.wrapper--bg {
  background-image: url("/images/laptops.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container--bg {
  margin: 0 auto;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.inner, .inner--bg {
  padding: 2em 4em;
}
@media screen and (max-width: 630px) {
  .inner, .inner--bg {
    padding: 1em 2em;
  }
}

.inner--bg {
  background: url("/images/browser.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.inner--bg a {
  color: inherit;
  border-bottom: 1px solid white;
}

.title {
  margin-top: 1.2em;
  font-size: 3.5em;
  text-align: center;
  line-height: 1;
}
@media screen and (max-width: 630px) {
  .title {
    font-size: 2.5em;
  }
}

.subtitle {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  text-align: center;
  line-height: 1;
}
@media screen and (max-width: 630px) {
  .subtitle {
    font-size: 1.75em;
  }
}

.tagline {
  max-width: 70%;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
  line-height: 1;
}
@media screen and (max-width: 630px) {
  .tagline {
    font-size: 1.5em;
    max-width: 100%;
  }
}

.when {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
}
@media screen and (max-width: 630px) {
  .when {
    font-size: 1.5em;
    margin-bottom: 0.75em;
  }
}

.time, .place {
  display: block;
}

.book {
  padding: 1.5em 2.75em;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  background: url("/images/browser--pink.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FF3377;
}
@media screen and (max-width: 940px) {
  .book {
    font-size: 1.25em;
    padding: 3em 1em;
  }
}
@media screen and (max-width: 760px) {
  .book {
    margin-bottom: 1em;
    margin-top: -2em;
  }
}
.book .price {
  display: block;
  font-size: 1.25em;
}
.book a {
  color: inherit;
}
.book a:hover {
  color: #100934;
  border-bottom: 1px solid #100934;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 0.75em;
  color: rgb(44, 44, 100);
}

.nat {
  position: relative;
}
.nat:before {
  content: ' ';
  background-image: url("/images/nat.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  width: 150px;
  height: 150px;
  top: -110px;
  right: 0px;
}
@media screen and (max-width: 630px) {
  .nat:before {
    width: 100px;
    height: 100px;
    top: -75px;
  }
}

.footer {
  text-align: center;
  font-size: 1.25em;
  margin: 2em auto 0 auto;
  padding-bottom: 2em;
  border-bottom: 1px solid #FF3377;
}
.footer .price {
  display: block;
}
@media screen and (max-width: 760px) {
  .footer {
    margin-top: 1em;
  }
}

#map {
  min-height: 300px;
}
