html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../assets/worksans-regular.eot");
  src: url("../assets/worksans-regular.eot?#iefix") format("embedded-opentype"), url("../assets/worksans-regular.woff2") format("woff2"), url("../assets/worksans-regular.woff") format("woff"), url("../assets/worksans-regular.ttf") format("truetype"), url("../assets/worksans-regular.svg#work_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: rgba(0, 0, 0, 0.9);
  font-size: 140%;
  line-height: 1.4;
  font-family: 'Work Sans', 'Franklin Gothic Medium', 'Segoe UI', 'Helvetica Neue', Helvetica, 'Droid Sans', Arial, sans-serif;
  font-weight: 400;
}

.wf-loading body {
  font-family: 'Franklin Gothic Medium', 'Segoe UI', 'Helvetica Neue', Helvetica, 'Droid Sans', Arial, sans-serif;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 120%;
  }
}

img {
  max-width: 100%;
}

a {
  background-color: transparent;
  background-image: linear-gradient(to bottom, white 90%, #61cbc2 90%);
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

a:hover, a:focus, a:active {
  background-image: linear-gradient(to bottom, white 90%, #ded2cb 90%);
  color: black;
}

p {
  margin-bottom: 1em;
}

p:last-child {
  margin-bottom: 0;
}

.side-image, .calling-card {
  width: 50%;
  height: 100vh;
  padding: 4vh 8vw;
}

@media screen and (max-width: 900px) {
  .side-image, .calling-card {
    width: 100%;
    height: auto;
    float: none;
    padding: 3em 8vw;
  }
}

.side-image {
  background-image: url(../assets/bg_blue.jpg);
  background-size: cover;
  float: left;
  position: relative;
}

@media screen and (max-width: 900px) {
  .side-image {
    float: none;
  }
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-54%);
  width: 34vw;
  z-index: 20;
}

@media screen and (max-width: 900px) {
  .logo {
    position: relative;
    transform: none;
    width: auto;
    max-width: 300px;
  }
}

.info {
  position: absolute;
  top: 50%;
  transform: translateY(-54%);
  width: 34vw;
}

.info h1 {
  display: none;
}

@media screen and (max-width: 900px) {
  .info {
    position: static;
    transform: none;
    width: auto;
    max-width: 600px;
  }
}

.calling-card {
  float: right;
  background: white;
  position: relative;
}

@media screen and (max-width: 900px) {
  .calling-card {
    height: 100%;
    float: none;
  }
}

form {
  margin-top: 5em;
  font-size: 80%;
}

input {
  max-width: 100%;
  width: 100%;
  padding: 0.5em 0.5em 0.3em 0.5em;
  line-height: 1.4;
  border: 1px solid #dadada;
  font-size: inherit;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.9);
}

input:focus, input:active {
  outline: none;
  border: 1px solid #61cbc2;
}

input[type=submit] {
  background: #61cbc2;
  width: auto;
  display: inline-block;
  border: none;
  color: white;
  -webkit-font-smoothing: antialiased;
  transition: all 0.2s;
  margin-bottom: 6px;
  position: absolute;
}

input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active {
  border-bottom: 4px solid #31958c;
  margin-bottom: 0px;
  transform: translateY(1px);
}
