---
layout: page
title: Browser Prototyping
permalink: /browserprototyping/index.html
description: Designers who can code have a competitive edge. It gives them a new way of exploring their materials, a different tool for communicating their ideas, and a richer understanding of the possibilities of technology.
---

{% include large_figure.html src="/assets/img/projects/browser_prototyping.jpg" alt="Browser Prototyping" caption="Learn to make interactive prototypes with code" %}

<div class="row">
  <div class="sidecol">
    &nbsp;
  </div>
  <div class="maincol">

<p>But teaching yourself to code is hard! Most learning materials assume that you’re already a developer or that you want to become one. They don’t tell you how to use code in your design work.</p>

<h3>Code as a part of your design process</h3>

<p>If you’re a designer, this course is for you. In one intensive day it will teach you how to make interactive prototypes in a web browser, not how to become a web developer. As part of a small group you will play with code and get a taste of how you can use it in your work.</p>

<h3>About the workshop</h3>

{% include multi_small_figure.html src1="/assets/img/projects/browser_prototyping/code.jpg" src2="/assets/img/projects/browser_prototyping/coding.jpg" alt="It was important to us that the dials had a satisfying feel" caption="During the hands-on session you will create an interactive prototype in the browser" %}

<h4>When is the next public workshop?</h4>
<p><a href="http://tinyletter.com/buckleywilliams"></a>Sign up to our announcements list</a> to hear about upcoming workshop dates.</p>

<h4>How much?</h4>

<p>Tickets are £300 per person, excluding VAT.</p>

<h4>Who is it for?</h4>

<p>This workshop is for designers with no coding experience — if you’re an absolute beginner who wants to find out whether coding can help you with your job, this is for you!</p>

<h4>What will you make?</h4>

<p>This is a hands-on workshop, so expect to be writing code all day. We will make a browser prototype for a simple mobile app. You will learn how to build an interface using HTML and CSS, and make it interactive using JavaScript with a little help from jQuery.</p>

<h4>Why use a web browser?</h4>

<p>A web browser is a versatile tool for interactive prototyping. Everyone has a browser, so anything you make is easy to share. Building prototypes in a real material is helpful for exploring what’s possible.</p>

<h4>What do you need to bring?</h4>

<p>You will need to bring your own laptop to the workshop. Please install Chrome and Atom before the session.</p>

<h4>What’s included in the price?</h4>

<p>A full day of hands-on learning in one of the nicest offices in East London. Lunch, drinks and biscuits are included. You’ll also receive an ebook companion to the code you will write so you can remind yourself what you did.</p>

<h4>Who’s teaching?</h4>

<p>We’re Nat and Dan, and we run a tiny multidisciplinary design studio.</p>

<p>Nat Buckley is a designer, technologist and teacher, working with the web and teaching beginners how to code. Nat taught designers at Goldsmiths College, University of Creative Arts Epsom and London College of Communication.</p>

<p>Dan Williams is a web developer and creative technologist, working with cultural organisations, artists and startups to build prototypes in code. Dan has spoken at conferences including dConstruct, Lift, and FutureEverything and taught guest lectures to students at AHO, HEAD, and LCC.</p>

<h4>Cancellations policy</h4>

<p>Tickets are transferrable and cancellable up to a week before the event. After that you can still transfer the ticket to someone else.</p>

<h4>Money-back guarantee</h4>

<p>If you’re not satisfied with the workshop, we will give you your money back.</p>

<h4>Any other questions?</h4>

<p>Email us at <a href="mailto:hi@buckleywilliams.com">hi@buckleywilliams.com</a>.</p>
  </div>
</div>
