---
layout: case_study
name: Improving Care
description: We joined Doteveryone for four months to help them explore how they could incorporate prototyping into their work. Our work centred on a project to see how technology could improve end of life care.
main_image: /assets/img/projects/improving_care.jpg
order: 4
---

{% include large_figure.html src="/assets/img/projects/improving_care.jpg" alt="Bulletin" %}

<div class="row">
  <div class="sidecol">
    &nbsp;
  </div>
  <div class="maincol">

    <p><span class="name">Nat Buckley</span> Doteveryone are a charity focusing on using technology to rethink how public services can be delivered.</p>

    <p><span class="name">Dan Williams</span> They’re quite a new organisation. They’re trying to work out how do you gather and share knowledge about a subject area that isn’t just writing a report. Or perhaps sometimes it is about writing reports, but illustrated by actual prototypes.</p>

    <p>We worked with them for a few months, looking at how the use of technology could be improved in end of life care in the UK.</p>

    <p><span class="name">Nat</span> The work wasn’t about proposing a finished product. We were trying to build different things to illustrate what kinds of things could be possible if the infrastructure could be improved.</p>

    <p><span class="name">Dan</span> Doteveryone is never going to be the company that’s making this product and selling it. They’re trying to persuade others in the ecosystem to consider these approaches, types of interfaces and use cases.</p>

    [image]

    <p><span class="name">Nat</span> Before we joined the project Doteveryone did a lot of research into what kinds of areas they could make the most impact in. One of the themes that was identified was loneliness and isolation. There’s definitely an opportunity for technology to help people remain in touch with each other.</p>

    <p><span class="name">Dan</span> Our starting point was researcher Cassie Robinson coming back from visiting hospices, specifically day care visitors. There is a community, people join WhatsApp groups to keep in touch with each other outside of the hospice. But there are a lot of people who don’t have access to day hospice or a community like that, and that can be quite isolating. We wanted to see how you could recreate parts of these communities remotely.</p>

    <p>We worked with Georgina Bourke from Projects by IF to sketch out the different activities you might want to do, and how those could be done remotely. We came up with things you could do for other people. When you’re in end of life care you can feel quite powerless, so knowing that you can do things for other people can be quite nice. We were looking at things like recipes, gardening tips and that kind of thing.</p>

    <p>We decided to make a prototype of a service that lets you share stories with people who might be in a similar situation as you, that you might not know personally.</p>

    <p><span class="name">Nat</span> We looked at this thing which used to be extremely popular in the sixties in Eastern Europe: sound postcards. People used to buy these postcards, which looked like regular postcards, but had a layer of vinyl on top in which you could etch a short piece of music or an audio message. They were often produced right there, in front of you.</p>

    <p><span class="name">Dan</span> You were showing me these postcards, and the messages on the back were often so short, sometimes even just “hey” and that’s it. I love the fact that you can send someone a token that shows you’re thinking about them, but you don’t have to write an essay-length letter.</p>

    <p><span class="name">Nat</span> Sort of like Snapchat. Maybe not as disposable, but quick and low-effort.</p>

    <p><span class="name">Dan</span> But it shows people you’re thinking about them, which is perfect for this kind of environment where someone might not have much energy...</p>

    <p><span class="name">Nat</span> ...and where even a phone call might be too demanding sometimes. We were looking for something that required very little effort from both giver and the receiver.</p>

    <p>We produced a mockup service, where you can send someone a message or a story by phoning up and recording it. Once you record a story, it gets produced as a physical postcard, with an image on the front relating to your story or message somehow. The postcard has an RFID chip in it, and when it arrives by post you can place it on a special base station, and it will play the recorded story. We wanted it to feel like something you already know and don’t think of as technology, like making a phone call or receiving mail.</p>

    [image]

    <p><span class="name">Nat</span> We tested it at Doteveryone’s offices and lots of people recorded stories and sent them to one another. We only ran it for a short period of time, and doing it made us realise that there are lots of services and tools that already perform a similar function but have a larger user base. To keep in touch with people you can use Skype or WhatsApp or Facebook, you don’t need a small-batch custom service that requires a physical object. If you already have access to wifi, there is a plethora of stuff available that meets different needs but has a lower barrier to entry.</p>

    <p>Making this we realised that the challenge of helping people lies in enabling them to use stuff that already exists, either through improving access or training. One of the findings from this piece of work was the realisation that 70% of care homes don’t have wifi, so Doteveryone could recommend improving wifi access so that the residents can have access to existing tools.</p>

    <p><span class="name">Dan</span> The outcome wasn’t, “we should build this thing and give it to people”, it was, “more places should have internet access, and there should be training available so that people can learn how to use iPads and smartphones and WhatsApp”.</p>

    <p><span class="name">Nat</span> Yes, and it enabled us to talk to people and have something we could show them to make the ideas more tangible. It was an object to think with, not an end in and of itself.</p>

{% include multi_small_figure.html src1="/assets/img/projects/bulletin/potentiometer.jpg" src2="/assets/img/projects/bulletin/dials.jpg" alt="It was important to us that the dials had a satisfying feel" caption="It was important to us that the dials had a satisfying feel" %}

    <p><span class="name">Dan</span> That was only one of the many strands we poked at. What did we do after that?</p>

    <p><span class="name">Nat</span> In the early discovery stage, Doteveryone identified a big challenge people with multiple conditions face, which is having their health record available to them and to the people who need it. Some of the barriers to this are cultural, some technological, and some regulatory.</p>

    <p>We looked at the ways this information could be shared between the people that need to know it. We called it the Collaborative Health Information System, implying that it’s a work in progress that multiple parties contribute to, including the patient.</p>

    <p><span class="name">Dan</span> Before we started on this strand, Sarah Gold from Projects by IF had already began making quick HTML prototypes of what the patient view of their record could look like.</p>

    <p><span class="name">Nat</span> Looking at what Sarah was doing, I realised there was a pain point that I could fix: each screen required setting up interactivity separately. It occurred to me that I could make a kit that made prototyping in the browser much quicker and easier to use for people who already know a bit of HTML. Doteveryone open sourced it, so it could help others make prototypes really quickly.</p>

    <p><span class="name">Dan</span> With the rest of the team we started creating more bits of this interface into the collaborative health system. We were trying to work out what it would look like to different types of users. For example a medical practitioner might need to see different kinds of information to what the patient, or a family member who was granted access would need to see.</p>

    <p><span class="name">Nat</span> It was a really interesting way to start conversations. Right now as a patient you cannot add anything to your record. There are notes that can be added about certain kinds of preferences, but they are essentially hidden from you. Because of the process for requesting data that is in place, you cannot usually see your data or get notified of stuff faster than by receiving a letter.</p>

    <p><span class="name">Dan</span> In the end, it’s this thing you can use, and touch, and interact with it directly. The data isn’t your real data, but you can get a feel for what it would be like to have access to these things, and to be slightly more in control as a patient.</p>

    <p>We also experimented with different ways this system could manifest. We had a one-day voice workshop as a way of pushing us to think about voice interfaces that you could use to access this. You made a smart fridge interface, which you put on a smart fridge in John Lewis. We also looked at print versions of the different interfaces, because you might just want to have a list of your upcoming appointments on a bit of paper.</p>

    <p><span class="name">Nat</span> Again, we’re not proposing a finished product, we’re trying to build different things to illustrate what kinds of things could be possible if the infrastructure could be improved to make all that data accessible.</p>

    [image]

    <p><span class="name">Dan</span> The final thing we did was put together a website.</p>

    <p><span class="name">Nat</span> It’s interesting that a lot of findings in the sector are often shared by sending PDF documents. Doteveryone wanted to make sure anyone can access their work and learn from it. Opening up the work to a wider audience in great detail, rather just as a summary is extremely valuable I think.</p>

    <p>Tons of organisations do really good thinking, but when it’s locked away the benefits are a little bit limited. It can be a bit quicker to bring someone on board by showing them something that represents a certain idea.</p>

    <p><span class="name">Dan</span> Like a prop.</p>

    <p><span class="name">Nat</span> Like a prop that lets you have certain kinds of conversations. Our work was about creating vignettes that would inspire people to think about the things Doteveryone is thinking about. To show people who have the power at the policy level what could be possible if the infrastructure is improved, and give people a reference point in this imagined future.</p>

  </div>
</div>
