---
---

@import "grid-settings";
@import "neat/neat";
@import "grid";

$text: #40424b;
$turquoise: #72d2cd;
$purple: #4b4e8f;
$border: #cccdce;
$grey: #9e9fa1;
$sans-serif: 'Work Sans', sans-serif;
$serif: 'PT Serif', serif;

@import "fonts";
@import "base";
@import "features";
@import "footer";

// Case studies

p .name {
  display: block;
  font-family: $sans-serif;
  color: $grey;
}

.case-study-page {
  .content p {
    @include span-columns(7);
  }
}


// Utility classes

.u-visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.u-right {
  float: right;
}

.u-border-top {
  border-top: 8px solid $turquoise;
  padding-top: 1em;
}
