---
---

@import "grid-settings";
@import "neat/neat";
@import "grid";

$text: #40424b;
$turquoise: #72d2cd;
$purple: #4b4e8f;

$sans-serif: sans-serif;
$serif: serif;

* {
  padding: 0;
  margin: 0;
}

body {
  color: $text;
  background: white;
  border-top: 5px solid $turquoise;
  font-size: 140%;
  font-family: $serif;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid $turquoise;

  &:hover {
    transition: all 0.3s ease;
    color: $purple;
    border-color: $purple;
  }
}

.site-logo {
  border: none;
}

.site-nav {
  font-family: $sans-serif;
  text-align: right;

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding: 0.2em 0.5em;
  }
}

.address {
  .line {
    display: block;
  }
}

// Utility classes

.u-visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
