<!doctype html>
<html>
  <head>
    <title>{% if page.title != nil and page.title != "" %}{{ page.title }} —{% endif %} Buckley Williams</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="r&d, research and development, design, studio, software development, hardware, prototyping">
    <meta name="description" content="A small consultancy that helps teams explore technology. We mix research, workshops and working code to help companies think about the future.">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@BuckleyWilliams">
    <meta name="twitter:creator" content="@BuckleyWilliams">
    <meta name="twitter:title" content="{% if page.title != nil and page.title != "" %}{{ page.title }} —{% endif %} Buckley Williams">
    <meta name="twitter:description" content="{% if page.description != nil and page.description != "" %}{{ page.description | xml_escape }}{% else %}A small consultancy that helps teams explore technology. We mix research, workshops and working code to help companies think about the future.{% endif %}">
    <meta name="twitter:image" content="{% if page.main_image != nil and page.main_image != "" %}{{ page.main_image | absolute_url }}{% else %}http://buckleywilliams.com/assets/img/card.png{% endif %}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#34c4b3">
    <meta name="theme-color" content="#ffffff">

    <link href="/assets/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row nav">
        <div class="sidecol">
          <a href="/" class="site-logo">
            <h1 class="u-visuallyhidden">Buckley Williams</h1>
            <img src="/assets/img/logo.svg" alt="Buckley Williams">
          </a>
        </div>

        <div class="maincol">
          <nav class="site-nav">
            <ul>
              <li><a href="/case-studies">Case studies</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="http://words.buckleywilliams.com">Writing</a></li>
              <li><a href="/browserprototyping">Training</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="mailto:hi@buckleywilliams.com">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
      {{ content }}
    </div>
    <div class="footer-wrapper">
      <div class="container footer">
        <div class="row">

          <div class="sidecol">
            <div class="bar"></div>
            <div itemscope itemtype="http://schema.org/Organization">
              Office address<br>
              <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">Buckley Williams</span>
                <span class="line" itemprop="streetAddress">Somerset House Studios M48</span>
                <span class="line" itemprop="streetAddress">Somerset House</span>
                <span class="line"><span itemprop="addressLocality">London</span>, <span itemprop="postalCode">WC2R 1LA</span></span>
                <br>
                <p>
                  <a href="mailto:hi@buckleywilliams.com" itemprop="email">hi@buckleywilliams.com</a><br>
                  <a href="http://twitter.com/BuckleyWilliams">@BuckleyWilliams</a>
                </p>
              </div>
            </div>
          </div>

          <div class="maincol">
            <div class="bar--alt"></div>
            <p class="registration">Buckley Williams Ltd is registered in England and Wales, with company number 9732158. VAT registration number 222691812.</p>
          </div>
        </div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-74146129-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
