<!doctype html>
<html>
  <head>
    <title>Buckley Williams</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="r&d, research and development, design, studio, software development, hardware, prototyping">
    <meta name="description" content="A small consultancy that helps teams explore technology. We mix research, workshops and working code to help companies think about the future.">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@BuckleyWilliams">
    <meta name="twitter:creator" content="@BuckleyWilliams">
    <meta name="twitter:title" content="Buckley Williams">
    <meta name="twitter:description" content="A small consultancy that helps teams explore technology. We mix research, workshops and working code to help companies think about the future.">
    <meta name="twitter:image" content="http://buckleywilliams.com/assets/card.png">

  </head>
  <body>
    {{ page.content }}
  </body>
</html>
