<!doctype html>
<html>
  <head>
    <title>Buckley Williams</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="r&d, research and development, design, studio, software development, hardware, prototyping">
    <meta name="description" content="A small consultancy that helps teams explore technology. We mix research, workshops and working code to help companies think about the future.">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@BuckleyWilliams">
    <meta name="twitter:creator" content="@BuckleyWilliams">
    <meta name="twitter:title" content="Buckley Williams">
    <meta name="twitter:description" content="A small consultancy that helps teams explore technology. We mix research, workshops and working code to help companies think about the future.">
    <meta name="twitter:image" content="http://buckleywilliams.com/assets/card.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#34c4b3">
    <meta name="theme-color" content="#ffffff">

    <link href="/assets/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row nav">
        <div class="sidecol">
          <img src="/assets/img/logo.svg" alt="Buckley Williams">
        </div>

        <div class="maincol">
          <nav class="site-nav">
            <ul>
              <li><a href="">Case studies</a></li>
              <li><a href="">Work</a></li>
              <li><a href="">Writing</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
      {{ page.content }}
    </div>
  </body>
</html>
