---
layout: base
---
<div class="case-study-page">

  <div class="row">
    <div class="sidecol">
      <div class="bar u-right"></div>
    </div>
    <div class="maincol">
      <h2 class="headline">{{ page.title }}</h2>
      <div class="page-intro">
        <p>{{ page.description }}</p>
        <h3 class="client">Client: {{ page.client }}</h3>
        {% if page.partners != nil and page.partners!= "" %}
          <h3 class="partners">Partners: {{ page.partners }}</h3>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="content">
    {{ content }}
  </div>

  {% include mailing_list.html %}
</div>
